[project]
	description = a python library to interact with a software factory instance
[access "refs/*"]
  read = group pysflib-core
  owner = group pysflib-ptl
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group pysflib-core
	label-Verified = -2..+2 group pysflib-ptl
	label-Workflow = -1..+1 group pysflib-core
	submit = group pysflib-ptl
	read = group pysflib-core
[access "refs/meta/config"]
    read = group pysflib-core
[receive]
	requireChangeId = true
[submit]
	mergeContent = false
	action = fast forward only
